/* typography */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--c-black);
}

img {
  max-width: 100%;
}

/* Colors */

:root {
  --c-white: #ffffff;
  --c-black: #000000;
  --c-black-75: #404040;
  --c-black-50: #7a7a7a;
  --c-black-25: #c0c0c0;
  --c-blue: #7bafd4;
  --c-blue-75: #91c0db;
  --c-blue-50: #b6d5e7;
  --c-blue-25: #daeaf3;
  --c-green: #aed5b2;
  --c-green-75: #b7ddc4;
  --c-green-50: #cfe8d8;
  --c-green-25: #e7f3eb;
  --c-yellow: #edff00;
  --c-yellow-75: #e4e856;
  --c-yellow-50: #edf08e;
  --c-yellow-25: #f6f7c7;
}

/* Fonts 
for bold text use 700
for <b> and rest of the txt use 400*/

/* body, headings, paragraps, anchor links, lists */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b {
  font-family: "Inter", "Roboto", Arial, Helvetica, sans-serif;
}

/* Breackpoints*/

/*Home
1024px-burguer menu appears
769px-4 products per row
768px-2products per row
320px-1 column product
contet-765px 1 column text + image
*/

/* Product list
1024px-burguer menu appears
769px and up- 4 products per row
768px- 2 products per row
320px- 1 column product */

/* Product view
1024px-burguer menu appears
769px and up- 3 column display
768px- 1 column display
 */

/* HEADER */

/* header {
  position: sticky;
}
 */
/* main navigation */

.bluebanner {
  padding: 0.6rem 2.2rem;
  background-color: var(--c-blue-75);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bluebanner p {
  color: var(--c-white);
  font-size: 12px;
}

/* .mainnav {
  margin: 0px 40px;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logomainnav {
  height: 1.5em;
}

.navicons {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}

.textmenu {
  display: flex;
  flex-direction: row;
}

.textmenu a {
  padding-right: 2rem;
}

.dropcontent {
  display: flex;
  flex-direction: row;
  display: none;
}

.dropdown:hover .dropcontent {
  display: block;
} */

.logomainnav {
  height: 1.5em;
  margin-top: 21px;
  margin-right: 340px;
  text-align: center;
}

.mainnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  background-color: var(--c-white);
}

.navicons {
  display: flex;
  flex-direction: row;
  align-self: center;
  column-gap: 1.5rem;
}

nav {
  width: 100%;
  height: 60px;
  border-bottom: solid 1px var(--c-black-25);
  float: left;
  /* display: flex;
  flex-direction: row; */
  padding: 0px 40px;
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a.menu {
  font-size: 14px;
  display: block;
  padding: 21px 28px 21px 0px;
}

nav ul li .drop {
  /*  display: block;
  position: absolute; */
  font-size: 14px;
  position: absolute;
  display: none;
  flex-direction: row;
  background-color: var(--c-white);
}

nav ul li:hover .drop {
  /*  display: block;
  position: absolute; */
  font-size: 14px;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.shop1 li {
  width: 180px;
  padding: 10px 50px 10px 0px;
}

.shop1 li a {
  font-size: 14px;
  display: block;
}

.drop li a:hover {
  color: var(--c-black-50);
}

.shop1 {
  display: flex;
  flex-direction: column;
}

.drop {
  padding-bottom: 20px;
}

/* Burguermenu */
.burguermenu {
  display: none;
}

/* MAIN */

main {
  margin: 0px 40px;
}

/* FOOTER*/

footer {
  background-color: var(--c-blue-75);
  font-size: 13px;
  color: var(--c-white);
}

.linksfooter a {
  color: var(--c-white);
}

.linksfooter a:hover {
  color: var(--c-black-50);
  transition-delay: 0.2s;
}

.form {
  max-width: 100%;
}

/* .footertext {
  margin: 40px 80px 70px 40px;
  display: inline-flex;
  justify-content: space-around;
  column-gap: 9rem;
}*/

.footertext div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 1rem;
  column-gap: 1rem;
}

.footertext {
  display: inline-flex;
}

.footerbanner {
  display: flex;
  flex-direction: row;
}

.someicons {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-self: center;
}

.aticon {
  font-size: 14px;
}
