/* typography */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Colors */

:root {
  --c-white: #ffffff;
  --c-black: #000000;
  --c-black-75: #404040;
  --c-black-50: #808080;
  --c-black-25: #c0c0c0;
  --c-blue: #7bafd4;
  --c-blue-75: #91c0db;
  --c-blue-50: #b6d5e7;
  --c-blue-25: #daeaf3;
  --c-green: #aed5b2;
  --c-green-75: #b7ddc4;
  --c-green-50: #cfe8d8;
  --c-green-25: #e7f3eb;
  --c-yellow: #edff00;
  --c-yellow-75: #e4e856;
  --c-yellow-50: #edf08e;
  --c-yellow-25: #f6f7c7;
}

/* Fonts 
for bold text use 700
for <b> and rest of the txt use 400*/

/* body, headings, paragraps, anchor links, lists */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b {
  font-family: "Inter", "Roboto", Arial, Helvetica, sans-serif;
}

/* Breackpoints*/

/*Home
1024px-burguer menu appears
769px-4 products per row
768px-2products per row
320px-1 column product
contet-765px 1 column text + image
*/

/* Product list
1024px-burguer menu appears
769px and up- 4 products per row
768px- 2 products per row
320px- 1 column product */

/* Product view
1024px-burguer menu appears
769px and up- 3 column display
768px- 1 column display
 */

/* HEADER */

/* main navigation */

.bluebanner {
  padding: 0.6rem 2.2rem;
  background-color: var(--c-blue-75);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bluebanner p {
  color: var(--c-white);
  font-size: 12px;
}

.logomainnav {
  height: 1.5em;
}

.mainnav {
  margin: 0px 40px;
  padding: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* MAIN */

main {
  margin: 0px 20px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-image: url(../images/DSC_0613-1-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  width: 100%;
  background-size: cover;
  z-index: -4;
  margin: 0%;
  justify-content: space-between;
}
.herotext h1 {
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--c-white);
}
.herotext p {
  color: var(--c-white);
  padding: 5rem 0;
}
.italic {
  font-style: italic;
}
.button {
  position: relative;
  padding: 0.8rem 2.2rem;
  background-color: var(--c-white);
  margin-bottom: 2rem;
}
.btn {
  font-weight: 400;
  color: var(--c-black);
}
p {
  font-size: 0.8rem;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 0.02rem;
}
.b {
  font-weight: 500;
}
.price {
  font-size: 0.7rem;
  padding-top: 0.5rem;
}
.bagname {
  padding-top: 0.5rem;
}
.HPfilters {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  gap: 2rem;
}
.HPfilters p {
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.HPcart {
  padding-bottom: 2rem;
  position: relative;
}
.colorcircles {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
}
.circleblue {
  width: 8%;
  aspect-ratio: 1/1;
  background-image: url(../assets/blue.svg);
  background-repeat: no-repeat;
}
h1 {
  font-family: "Inter";
  font-weight: 200;
  font-size: 2rem;
}
h2 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 1.2rem;
}
h3 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--c-black-50);
  letter-spacing: 0.02rem;
}
.zeroImpact p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.zeroProducts {
  margin-top: 4rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}
.zeroCart {
  min-width: 90%;
}
.grey {
  color: var(--c-black-50);
  line-height: 1.2rem;
}
.link {
  font-family: "Inter";
  font-weight: 200;
  color: var(--c-black);
  margin: 2rem 0;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.HPShop {
  margin-top: 3rem;
}
.HPShop article {
  margin-bottom: 5rem;
}
.HPShop p {
  text-align: center;
}
.HPSoMe h1 {
  text-align: center;
}
.square {
  aspect-ratio: 1/1;
  margin-top: 1rem;
}
.center {
  text-align: center;
}
.HPSoMe .link {
  display: grid;
  justify-items: center;
  margin: 4rem 0;
}
footer {
  background-color: var(--c-blue);
  height: 50px;
}
