.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: url(../images/DSC_0613-1-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  width: 100%;
  background-size: cover;
  z-index: -4;
  margin: 0%;
  justify-content: space-between;
}
.PLhero {
  height: 25vh;
  justify-content: center;
}
.herotext,
h1.PLherotext {
  margin-left: 20px;
  margin-right: auto;
}
.herotext h1,
h1.PLherotext {
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--c-white);
}
.herotext p {
  color: var(--c-white);
  padding: 5rem 0;
}
.italic {
  font-style: italic;
}
.pbutton {
  position: relative;
  padding: 0.8rem 2.2rem;
  background-color: var(--c-white);
  margin-bottom: 2rem;
  width: auto;
}
.btn {
  font-weight: 400;
  color: var(--c-black);
  cursor: pointer;
}
p {
  font-size: 0.8rem;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 0.02rem;
}
.b {
  font-weight: 500;
}
.price {
  font-size: 0.7rem;
  padding-top: 0.5rem;
}
.bagname {
  padding-top: 0.5rem;
  color: var(--c-black);
}
.bagname:hover {
  color: var(--c-black-25);
}
.HPfilters {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  gap: 2rem;
}
.HPfilters p {
  font-size: 1.2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.HPcart,
.PLcart {
  padding-bottom: 2rem;
  position: relative;
}
.PLcart {
  margin-top: 20px;
}
.colorcircles {
  position: absolute;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  top: 10px;
  left: 10px;
}
.circleblue {
  width: 8%;
  aspect-ratio: 1/1;
  background-image: url(../assets/blue.svg);
  background-repeat: no-repeat;
}
h1 {
  font-family: "Inter";
  font-weight: 200;
  font-size: 2rem;
}
h2 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 1.2rem;
}
h3 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--c-black-50);
  letter-spacing: 0.02rem;
}
.zeroImpact p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.zeroProducts {
  margin-top: 4rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}
.zeroCart {
  min-width: 90%;
}
.grey {
  color: var(--c-black-50);
  line-height: 1.2rem;
}
.link {
  font-family: "Inter";
  font-weight: 200;
  color: var(--c-black);
  margin: 2rem 0;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.HPShop {
  margin-top: 3rem;
}
.HPShop article {
  margin-bottom: 5rem;
}
.HPShop p {
  text-align: center;
}
.HPSoMe h1 {
  text-align: center;
}
.square {
  aspect-ratio: 1/1;
  margin-top: 1rem;
}
.center {
  text-align: center;
}
.HPSoMe .link {
  display: grid;
  justify-items: center;
  margin: 4rem 0;
}
h4 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}
.fav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  align-items: center;
}
.favText {
  z-index: 1;
  grid-column: 1 / 4;
  grid-row: 1;
}
.favimg {
  grid-column: 1 / 5;
  grid-row: 1;
  opacity: 50%;
}
.sust {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5rem;
  align-items: center;
}
.sustimg {
  grid-column: 1 / 4;
  grid-row: 1;
  opacity: 50%;
}
.sustainText {
  grid-column: 1 / 5;
  grid-row: 1;
  z-index: 1;
}
.bbutton {
  position: relative;
  padding: 0.8rem 2.2rem;
  color: var(--c-white);
  margin-bottom: 2rem;
  width: 200px;
  background-color: #6ec1e4;
  border-radius: 5px;
  font-weight: 400;
}
.fav .btn,
.sust .btn {
  display: grid;
  justify-items: center;
  cursor: pointer;
}
.HPproducts,
.PLproducts {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.hoverImg {
  cursor: pointer;
}
.addtocart {
  position: absolute;
  width: 80%;
  background-color: var(--c-white);
  padding: 1rem;
  left: 10%;
  bottom: 30%;
  cursor: pointer;
  margin: 0 auto;
}
.addtocart p {
  font-size: 0.8rem;
  font-weight: 500;
}
.hide {
  display: none;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .hero {
    justify-content: space-around;
  }
  p {
    font-size: 1rem;
  }
  .herotext h1 {
    font-size: 3rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .bagname {
    font-size: 1.2rem;
  }
  .price {
    font-size: 1rem;
  }
  .colorcircles {
    width: 60%;
    height: auto;
  }
  .zeroImpact {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 5rem;
  }
  .zeroProducts {
    margin-top: 0;
    margin-left: 20px;
  }
  .HPShop {
    display: flex;
    gap: 10px;
  }
  .HPShop p {
    font-size: 0.9rem;
  }
  .SoMeImg {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
  }
  .favText {
    z-index: 1;
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .favimg {
    grid-column: 2 / 5;
    grid-row: 1;
    opacity: 50%;
  }
  .sustimg {
    grid-column: 1 / 3;
    grid-row: 1;
    opacity: 50%;
  }
  .sustainText {
    grid-column: 2 / 5;
    grid-row: 1;
    z-index: 1;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 3rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .circleblue {
    width: 12%;
  }
  .bagname {
    font-size: 0.9rem;
  }
  .price {
    font-size: 0.8rem;
  }
  .HPproducts,
  .PLproducts {
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .zeroCart {
    min-width: auto;
  }
  .herotext h1 {
    font-size: 5rem;
  }
  .fav {
    grid-template-columns: repeat(2, 1fr);
  }
  .sust {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .favText {
    z-index: 1;
    grid-column: 1 / 2;
    grid-row: 1;
    margin-right: 3rem;
  }
  .favimg {
    grid-column: 2 / 3;
    grid-row: 1;
    opacity: 50%;
  }
  .sustimg {
    grid-column: 1 / 2;
    grid-row: 1;
    opacity: 50%;
    margin: 0 3rem;
  }
  .sustainText {
    grid-column: 2 / 3;
    grid-row: 1;
    z-index: 1;
  }
  .HPproducts,
  .PLproducts {
    grid-template-columns: repeat(4, 1fr);
  }
  main {
    margin: 0px 40px;
  }
  .zeroImpact {
    margin: 5rem;
  }
  .herotext {
    margin-left: 5rem;
  }
  .hero {
    height: 85vh;
  }
  .PLhero {
    height: 40vh;
  }
  h1.PLherotext {
    font-size: 3.5rem;
    margin-left: 40px;
  }
}
