.bannerS {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-image: url(../images/another.jpeg);
  opacity: 80%;
  background-repeat: no-repeat;
  background-position: center;
  height: 35vh;
  width: 100%;
  background-size: cover;
  z-index: -4;
  margin: 0%;
  justify-content: space-between;
}
.bannerStext {
  margin-top: 15vh;
  margin-left: 40px;
  background-color: rgba(237, 255, 0, 0.5);
}
.secondPara {
  background-color: var(--c-blue-75);
  padding: 30px;
  color: var(--c-white);
}
.yellowheadline {
  color: var(--c-yellow);
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
.bannerStext h1 {
  color: var(--c-black);
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
.introS {
  margin: 10vh;
  position: relative;
}
.introS p {
  margin-top: 30px;
}
@media only screen and (min-width: 730px) {
  .introS {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .introS p {
    line-height: 2rem;
  }
  .firstPara {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 5vh;
  }
  .secondPara {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 5vh;
  }
  .thirdPara {
    grid-column: 1/3;
    margin: 0 150px;
    /* border: 1px solid var(--c-black-25); */
    background-color: var(--c-blue-25);
  }
  .thirdp {
    margin: 30px;
  }
  .bannerStext h1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .introS {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .firstPara {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 12vh;
  }
  .secondPara {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 12vh;
  }
  .introS p {
    margin: 60px;
  }
  .thirdPara {
    margin: 0 250px;
  }
  .yellowheadline {
    font-size: 1.5rem;
  }
  .bannerStext h1 {
    font-size: 3rem;
  }
  .bannerStext {
    margin-top: 25vh;
  }
}
.materialsS,
.workS {
  margin-right: 10vh;
  margin-left: 10vh;
  margin-bottom: 5vh;
}
.materialsStext,
.workStext {
  text-align: center;
  margin: 3vh;
  line-height: 2rem;
  font-size: 2rem;
}
.materialsStext h2,
.workStext h2 {
  color: var(--c-blue);
}
.materialsStext a,
.workStext a {
  border: 0.3px solid black;
  padding: 1vh;
  padding-left: 4vh;
  padding-right: 4vh;
  margin: 2vh;
}
.materialsStext a:hover,
.workStext a:hover{
    background-color: var(--c-yellow);
    border:0.3px solid var(--c-yellow);
    transition: all 0.5s;
}
.materialsSpic,
.workSpic {
  justify-self: center;
}
@media only screen and (min-width: 600px) {
  .materialsS,
  .workS {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .materialsS,
  .workS {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .workStext {
    grid-row: 2/3;
  }
}
@media only screen and (min-width: 1200px) {
  .materialsStext,
  .workStext {
    margin: 8vh;
  }
}
.copyMS {
  background-color: var(--c-blue);
  color: white;
  padding: 10vh;
}
.copyWS {
  padding: 10vh;
}

.MSicon h2 {
  color: white;
}
.MSicon h2,
.WSicon h2 {
  text-align: center;
  margin: 2vh;
}
.MSicon p,
.WSicon p {
  margin: 5vh;
  font-size: 1rem;
}
.MSicon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.WSicon h2,
.WSicon p {
  color: var(--c-blue);
}
.WSicon img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
@media only screen and (min-width: 1200px) {
  .copyMS {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .copyWS {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 20vh;
    margin-right: 20vh;
  }
}
@media only screen and (max-width: 1199px) {
  .copyMS {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .copyWS {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .copyMS {
    display: grid;
    grid-template-columns: 1fr;
  }
  .copyWS {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .MSicon img {
    width: 25%;
  }
  .WSicon img {
    width: 25%;
  }
  .MSicon p {
    margin-left: 5vh;
    margin-right: 5vh;
  }
  .WSicon p {
    margin-left: 5vh;
    margin-right: 5vh;
  }
}
.copyWS {
  background-color: white;
  color: var(--c-blue);
}

.video {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  width: 70%;
  background-size: cover;
  margin: 10%;
}

.loop h1 {
  text-transform: uppercase;
  color: var(--c-blue);
  font-weight: bold;
  font-size: 4vh;
  text-align: left;
  margin-bottom: 2vh;
}

.prtitle {
  background-color: var(--c-blue);
  text-align: center;
  color: white;
  padding:5vh;
  text-transform: uppercase;
  font-weight: bold;
}
.prtitle2{
background-color: white;
  text-align: center;
  color: var(--c-blue);
  padding:5vh;
  text-transform: uppercase;
  font-weight: bold;

}

.videowrap {
  display: block;
  width: auto;
  margin: 10vh;
}
@media only screen and (min-width: 1200px){
.videowrap{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}
.video{
    grid-column: 2/3;
    grid-row: 2/3;
}
}

.vidtext{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 10vh;
}
.loop {
    overflow: hidden;
    display: inline-flex;
    white-space: nowrap;
    position: relative;
    width: 100vw;
    height: 100px;
}
.looptext{

    animation-name:loop;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    white-space: nowrap;
}

@keyframes loop {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-10%);
        }
    100% {
            transform: translateX(0%);
        }
}
